fastapi==0.109.2
uvicorn==0.27.1
nest-asyncio==1.5.8
numpy==1.26.3
requests==2.31.0
yfinance==0.2.36
setuptools==69.0.3
mangum==0.17.0
pydantic==2.6.1
pandas==2.2.0
pandas-ta==0.3.14b
python-multipart==0.0.7